.input-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  padding: 12px;
}

.input {
  position: relative;
  width: 90%;
  margin: 0 20px;
}

.icon{
  margin: 6px;
}